.back_pos {
  position: absolute;
  top: 140px;
  left: 30px;
}

.chest_pos {
  position: absolute;
  top: 240px;
  left: 15px;
}

.abs_pos {
  position: absolute;
  top: 300px;
  left: 30px;
}

.legs_pos {
  position: absolute;
  top: 440px;
  left: 30px;
}

.shoulder_pos {
  position: absolute;
  top: 130px;
  right: 10px;
}

.arms_pos {
  position: absolute;
  top: 240px;
  left: 300px;
}

.recomm_pos {
  /* position: absolute; */
  bottom: 40px;
}

.routine_pos {
  /* position: absolute; */
  bottom: 40px;
}
